{% extends '::layout.html.twig' %} 

{% block seccion2 %}<h1 class="titulo-blog">HOME</h1>{% endblock %}

{% block seccion3 %}
    <link rel="stylesheet" href="{{ asset('public/css/style.css') }}"/>
    
    
    <div class="row col-lg-10">
        <br><br><hr>
        <h2 class="home" align="center">Seleccione mantenedor</h2><hr>
        
        <p align="center"><b>Sistema desarrollado para controlar y mantener las diferentes entidades que existen o 
                que podrian existir en la aplicación.</b></p>
        
    </div>


{% endblock %}
